git+https://github.com/not-na/peng3d.git@41d2fb9daea51f11c7e2918f828611c80c80e29f
peng3dnet==0.1.3a0
psutil==5.7.0
sphinx_rtd_theme==0.2.4
plumbum==1.6.9
ujson==2.0.3
jsoncomment==0.4.2
PyYAML==5.3.1
msgpack==1.0.0
cachetools==4.1.0