git+https://github.com/not-na/peng3d.git@5f36c7a972aa23863baa19b4397f3c2d7d3b05c2
peng3dnet==0.1.3a0
psutil==5.7.2
sphinx_rtd_theme==0.2.4
plumbum==1.6.9
#ujson==2.0.3
jsoncomment==0.4.2
PyYAML==5.4
msgpack==1.0.0
cachetools==4.1.1
vectormath==0.2.2
pyglet==1.5.5
numpy==1.22.0
PyJWT==2.4.0
pyinstaller==4.0
pyperclip==1.8.1
requests==2.31.0